n8n-2-stripe-confirmation.json
{
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "stripe-confirmation-webhook",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                16,
                -48
            ],
            "id": "df923bf3-dd03-4082-8f05-84af2d2268e2",
            "name": "Webhook",
            "webhookId": "45c1830b-9364-4b68-9c7d-e8ea2dade456"
        },
        {
            "parameters": {
                "dataType": "string",
                "value1": "={{$json.body.type}}",
                "rules": {
                    "rules": [
                        {
                            "value2": "checkout.session.completed"
                        }
                    ]
                }
            },
            "name": "Event Type Filter",
            "type": "n8n-nodes-base.switch",
            "typeVersion": 1,
            "position": [
                240,
                -80
            ],
            "id": "07283b7e-4c87-4418-bfb0-cef24ac11df1"
        },
        {
            "parameters": {
                "jsCode": "// Robust Data Extraction\n// This prevents crashes and guarantees an email string exists\n\nconst item = $input.first();\nconst body = item.json.body;\n\n// Safely access nested objects (returns undefined instead of crashing)\nconst dataObject = body?.data?.object || {};\nconst metadata = dataObject.metadata || {};\nconst customerDetails = dataObject.customer_details || {};\n\n// 1. Determine Name\nconst customerName = customerDetails.name || metadata.customer_name || 'Valued Patient';\n\n// 2. Determine Email (With Safety Fallback)\n// If no email is found, we use a placeholder to prevent the Gmail node from throwing \"Bad Request\"\nlet customerEmail = customerDetails.email || metadata.customer_email;\nif (!customerEmail) {\n  customerEmail = 'no-email-found@error.com'; // Fallback to allow debugging\n}\n\n// 3. Amount\nconst amountPaid = ((dataObject.amount_total || 0) / 100).toFixed(2);\n\n// 4. Calculate Calendar Times\nconst bookingDate = metadata.booking_date; // YYYY-MM-DD\nconst bookingTime = metadata.booking_time; // HH:mm\nlet start = '';\nlet end = '';\n\nif (bookingDate && bookingTime) {\n  // Create date object (assuming local time or UTC as per input, usually safer to treat as local for simple bookings)\n  // Note: In a real prod env, timezone handling is critical. Here we assume the input is \"YYYY-MM-DD\" and \"HH:mm\"\n  const startDate = new Date(`${bookingDate}T${bookingTime}:00`);\n  start = startDate.toISOString();\n  // Default duration: 1 hour\n  const endDate = new Date(startDate.getTime() + 60 * 60 * 1000);\n  end = endDate.toISOString();\n}\n\nreturn [{\n  customer_name: customerName,\n  customer_email: customerEmail,\n  booking_date: bookingDate || 'N/A',\n  booking_time: bookingTime || 'N/A',\n  service_id: metadata.service_id,\n  service_name: metadata.serviceName || 'Dental Appointment',\n  amount_paid: amountPaid,\n  payment_status: dataObject.payment_status,\n  event_start: start,\n  event_end: end\n}];"
            },
            "name": "Extract Booking Data",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                464,
                -48
            ],
            "id": "c84ec803-f6e8-4511-b8cd-f76c64c5ad96"
        },
        {
            "parameters": {
                "sendTo": "={{ $('Extract Booking Data').first().json.customer_email }}",
                "subject": "✅ Appointment Confirmed - Butkeviča Dental",
                "emailType": "text",
                "message": "=Hi {{ $('Extract Booking Data').first().json.customer_name }},\n\nThank you for your payment of €{{ $('Extract Booking Data').first().json.amount_paid }}!\n\nYour dental appointment is confirmed:\n📅 Date: {{ $('Extract Booking Data').first().json.booking_date }}\n⏰ Time: {{ $('Extract Booking Data').first().json.booking_time }}\n\nWe look forward to seeing you!\n\nIf you need to reschedule or have any questions, please contact us.\n\nBest regards,\nButkeviča Dental Practice\n\n---\nThis is an automated confirmation email.",
                "options": {}
            },
            "name": "Send Confirmation Email",
            "type": "n8n-nodes-base.gmail",
            "typeVersion": 2.1,
            "position": [
                688,
                -48
            ],
            "id": "e258604d-10d0-4a24-905a-9e139ac2ded9",
            "webhookId": "b0276529-77fc-4b38-abf8-4401acef7bc4",
            "credentials": {
                "gmailOAuth2": {
                    "id": "bsHsQyITlAn3DBQk",
                    "name": "Gmail account"
                }
            }
        },
        {
            "parameters": {
                "mode": "raw",
                "jsonOutput": "={\n  \"body\": {\n    \"customer_name\": \"{{ $json.body.customer_name && $json.body.customer_name.trim() !== '' ? $json.body.customer_name : 'Test Customer' }}\",\n    \"customer_email\": \"{{ $json.body.customer_email && $json.body.customer_email !== '' ? $json.body.customer_email : 'test@example.com' }}\",\n    \"booking_date\": \"{{ $json.body.booking_date && $json.body.booking_date !== '' ? $json.body.booking_date : $today.format('yyyy-MM-dd') }}\",\n    \"booking_time\": \"{{ $json.body.booking_time && $json.body.booking_time !== null ? $json.body.booking_time : '14:00' }}\",\n    \"service_name\": \"{{ $json.body.service_name || 'General Checkup' }}\"\n  }\n}",
                "options": {}
            },
            "id": "070f8ead-2825-46b1-9bc6-d40e411806dc",
            "name": "Fix/Debug Data",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                240,
                208
            ],
            "notesInFlow": true,
            "notes": "If Webhook is empty,\nthis inserts dummy data\nso you can test."
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "manual-calendar-sync",
                "options": {}
            },
            "id": "3e91e341-5b21-4460-9899-3c9fb9a7d111",
            "name": "Webhook (Manual)1",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                16,
                208
            ],
            "webhookId": "60860d87-19b1-4f7e-8637-ccd82a74e333"
        },
        {
            "parameters": {
                "jsCode": "// Robust Date & Text Formatter\nconst body = $input.first().json.body;\n\n// 1. Safety Check\nif (!body.booking_date || !body.booking_time) {\n  throw new Error(\"Missing Date or Time from Website\");\n}\n\n// 2. Fix Date Construction (Prevent Timezone Shift)\n// We construct a string like \"2023-11-25T14:30:00\" and let the system parse it locally\nconst dateTimeString = `${body.booking_date}T${body.booking_time}:00`;\nconst startDate = new Date(dateTimeString);\n\n// 3. Calculate End Time (Default 1 hour)\nconst endDate = new Date(startDate.getTime() + (60 * 60 * 1000));\n\n// 4. Create nice text for the Calendar Event\nconst summary = `${body.service_name || 'Appointment'} - ${body.customer_name}`;\nconst description = `\nPatient: ${body.customer_name}\nEmail: ${body.customer_email}\nService: ${body.service_name}\nDate: ${body.booking_date}\nTime: ${body.booking_time}\n`;\n\nreturn [{\n  event_start: startDate.toISOString(), // n8n handles the ISO conversion here\n  event_end: endDate.toISOString(),\n  summary: summary,\n  description: description\n}];"
            },
            "id": "062b6ae6-ea7d-4fa3-9a52-64759116af02",
            "name": "Format Manual Data1",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                464,
                208
            ]
        },
        {
            "parameters": {
                "calendar": {
                    "__rl": true,
                    "mode": "list",
                    "value": "primary"
                },
                "start": "={{ $json.event_start }}",
                "end": "={{ $json.event_end }}",
                "additionalFields": {
                    "description": "={{ $json.description }}",
                    "summary": "=Appointment: {{ $json.customer_name }}"
                }
            },
            "id": "127db834-36c0-4559-9a75-a1df2210245b",
            "name": "Google Calendar Manual1",
            "type": "n8n-nodes-base.googleCalendar",
            "typeVersion": 1,
            "position": [
                688,
                208
            ],
            "credentials": {
                "googleCalendarOAuth2Api": {
                    "id": "MC4P3mZxV4TOWrs8",
                    "name": "Google Calendar account 2"
                }
            }
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Event Type Filter",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Event Type Filter": {
            "main": [
                [
                    {
                        "node": "Extract Booking Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract Booking Data": {
            "main": [
                [
                    {
                        "node": "Send Confirmation Email",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fix/Debug Data": {
            "main": [
                [
                    {
                        "node": "Format Manual Data1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook (Manual)1": {
            "main": [
                [
                    {
                        "node": "Fix/Debug Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Manual Data1": {
            "main": [
                [
                    {
                        "node": "Google Calendar Manual1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "edb1e678c20bb2dc211861028fa5a0da62086103c19f921423bcdc604ef1f332"
    }
}