n8n-3-reminders.json
{
    "name": "Reminders (Updated - Gmail)",
    "nodes": [
        {
            "parameters": {
                "triggerTimes": {
                    "item": [
                        {
                            "mode": "everyHour"
                        }
                    ]
                }
            },
            "name": "Cron (Hourly)",
            "type": "n8n-nodes-base.cron",
            "typeVersion": 1,
            "position": [
                0,
                0
            ],
            "id": "0dda7ee8-8443-424b-9b16-46d6623342f5"
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "SELECT * FROM bookings \nWHERE status = 'booked' \nAND start_time BETWEEN NOW() + INTERVAL '24 hours' AND NOW() + INTERVAL '25 hours';",
                "additionalFields": {}
            },
            "name": "Fetch Upcoming",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 1,
            "position": [
                208,
                0
            ],
            "id": "ec3b465f-3631-41fa-8357-f274b80125cf",
            "credentials": {
                "postgres": {
                    "id": "6DfCu5DXBg8c1OZ2",
                    "name": "Postgres account"
                }
            }
        },
        {
            "parameters": {
                "batchSize": 1,
                "options": {}
            },
            "name": "Split Batches",
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 1,
            "position": [
                400,
                0
            ],
            "id": "6c996032-2907-46df-a1fa-6ab6ec3f4f6f"
        },
        {
            "parameters": {
                "resource": "message",
                "subject": "Reminder: Appointment Tomorrow",
                "message": "=Hi {{$json.customer_name}},\n\nReminder for your appointment tomorrow at {{$json.start_time}}.\n\nSee you soon!",
                "toEmail": "={{$json.customer_email}}"
            },
            "name": "Send Reminder Email (Gmail)",
            "type": "n8n-nodes-base.gmail",
            "typeVersion": 1,
            "position": [
                600,
                0
            ],
            "id": "b5055426-05eb-4f2e-babd-9d633f95658a",
            "credentials": {
                "gmailOAuth2": {
                    "id": "YOUR_GMAIL_CREDENTIAL_ID",
                    "name": "Gmail account"
                }
            }
        }
    ],
    "connections": {
        "Cron (Hourly)": {
            "main": [
                [
                    {
                        "node": "Fetch Upcoming",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch Upcoming": {
            "main": [
                [
                    {
                        "node": "Split Batches",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Split Batches": {
            "main": [
                [
                    {
                        "node": "Send Reminder Email (Gmail)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send Reminder Email (Gmail)": {
            "main": [
                [
                    {
                        "node": "Split Batches",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}