workflows/n8n-2-stripe-confirmation-supabase.json
{
    "nodes": [
        {
            "parameters": {},
            "type": "n8n-nodes-base.errorTrigger",
            "typeVersion": 1,
            "position": [
                -304,
                576
            ],
            "id": "b4b25ad0-f347-4a64-a8ce-93c0ccb93403",
            "name": "Error Trigger"
        },
        {
            "parameters": {
                "command": "=mkdir -p /home/node/.n8n/dlq && echo '{{ JSON.stringify({ timestamp: $now.toISO(), error: { message: String($json.error?.message || $json.message || \"Unknown error\").replace(/'/g, \"\"), node: $json.error?.node?.name || \"Unknown\" }, recovery_attempts: 0 }) }}' > /home/node/.n8n/dlq/failed-{{ $now.format('yyyyMMdd-HHmmss') }}.json && echo 'DLQ saved'"
            },
            "type": "n8n-nodes-base.executeCommand",
            "typeVersion": 1,
            "position": [
                -80,
                576
            ],
            "id": "dlq-write-file",
            "name": "Save to DLQ"
        },
        {
            "parameters": {
                "chatId": "7408240811",
                "text": "=🚨 BOOKING FAILED - DLQ ACTIVATED!\n\nWorkflow: {{ $workflow.name }}\nError: {{ $('Error Trigger').first().json.error?.message || $('Error Trigger').first().json.message || 'Unknown' }}\nNode: {{ $('Error Trigger').first().json.error?.node?.name || 'Unknown' }}\nTime: {{ $now.format('yyyy-MM-dd HH:mm:ss') }}\n\n📁 Saved to: /home/node/.n8n/dlq/\n\n⚠️ Check n8n immediately!",
                "additionalFields": {}
            },
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                144,
                576
            ],
            "id": "453081d8-d96b-426e-8bcc-170393446084",
            "name": "Send a text message",
            "webhookId": "2859d6bd-c6bf-4b76-94be-fae004b7425e",
            "credentials": {
                "telegramApi": {
                    "id": "O3M9P0psuAlOvjZg",
                    "name": "Telegram account"
                }
            }
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "stripe-confirmation-webhook",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                -304,
                128
            ],
            "id": "ff1eb819-1f8c-495a-841f-3648c35db86c",
            "name": "Webhook",
            "webhookId": "45c1830b-9364-4b68-9c7d-e8ea2dade456"
        },
        {
            "parameters": {
                "jsCode": "const item = $input.first();\nconst rawJson = item.json;\nconst eventData = rawJson.body || rawJson;\n\nif (eventData.type !== 'checkout.session.completed') {\n  return [];\n}\n\nconst dataObject = eventData?.data?.object || {};\nconst metadata = dataObject.metadata || {};\nconst customerDetails = dataObject.customer_details || {};\n\nconst customerName = customerDetails.name || metadata.customer_name || 'Valued Patient';\nlet customerEmail = customerDetails.email || metadata.customer_email || 'missing@error.com';\nconst rawPhone = customerDetails.phone || metadata.customer_phone || metadata.phone || '';\nconst amountPaid = ((dataObject.amount_total || 0) / 100).toFixed(2);\nconst bookingDate = metadata.booking_date;\nconst bookingTime = metadata.booking_time;\n\nlet eventStart = null;\nlet eventEnd = null;\nif (bookingDate && bookingTime) {\n  const startDate = new Date(bookingDate + 'T' + bookingTime + ':00');\n  eventStart = startDate.toISOString();\n  eventEnd = new Date(startDate.getTime() + 3600000).toISOString();\n}\n\nlet lang = 'lv';\nif (metadata.language) {\n  lang = metadata.language.toLowerCase();\n}\n\nlet emailSubject, emailBody;\nif (lang === 'lv') {\n  emailSubject = '✅ Vizīte apstiprināta - Butkeviča Dental';\n  emailBody = 'Labdien, ' + customerName + '!\\\\n\\\\n' +\n    'Paldies par Jūsu maksājumu €' + amountPaid + ' apmērā!\\\\n\\\\n' +\n    'Jūsu zobārstniecības vizīte ir apstiprināta:\\\\n' +\n    '📅 Datums: ' + bookingDate + '\\\\n' +\n    '⏰ Laiks: ' + bookingTime + '\\\\n\\\\n' +\n    'Gaidīsim Jūs!\\\\n\\\\n' +\n    'Ar cieņu,\\\\n' +\n    'Butkeviča Dental Practice';\n} else {\n  emailSubject = '✅ Appointment Confirmed - Butkeviča Dental';\n  emailBody = 'Hi ' + customerName + ',\\\\n\\\\n' +\n    'Thank you for your payment of €' + amountPaid + '!\\\\n\\\\n' +\n    'Your dental appointment is confirmed:\\\\n' +\n    '📅 Date: ' + bookingDate + '\\\\n' +\n    '⏰ Time: ' + bookingTime + '\\\\n\\\\n' +\n    'We look forward to seeing you!\\\\n\\\\n' +\n    'Best regards,\\\\n' +\n    'Butkeviča Dental Practice';\n}\n\nconst bookingRef = 'BK-' + Date.now().toString(36).toUpperCase();\n\nconst result = {\n  // Fields for Supabase insert (must match table columns exactly)\n  customer_name: customerName,\n  customer_email: customerEmail,\n  customer_phone: rawPhone || null,\n  service_id: metadata.service_id || null,\n  service_name: metadata.serviceName || 'Dental Appointment',\n  start_time: eventStart,\n  end_time: eventEnd,\n  amount_paid: parseFloat(amountPaid),\n  status: 'confirmed',\n  stripe_session_id: dataObject.id || null,\n  payment_intent_id: dataObject.payment_intent || null,\n  amount_cents: dataObject.amount_total || null,\n  currency: 'EUR',\n  client_reference: bookingRef,\n  // Extra fields for email/calendar (not inserted to DB)\n  email_subject: emailSubject,\n  email_body: emailBody,\n  calendar_summary: 'Vizīte ' + bookingRef,\n  calendar_description: '📋 View full details in secure dashboard\\\\n\\\\n🔒 Patient information protected under GDPR Art. 9\\\\n\\\\n⏰ Duration: 1 hour',\n  calendar_start: eventStart,\n  calendar_end: eventEnd,\n  booking_ref: bookingRef\n};\n\nreturn [{ json: result }];"
            },
            "name": "Extract Booking Data",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -80,
                128
            ],
            "id": "106266b2-c937-48c2-be16-c930ebd40b40",
            "onError": "stopWorkflow"
        },
        {
            "parameters": {
                "tableId": "bookings",
                "fieldsUi": {
                    "fieldValues": [
                        {
                            "fieldName": "customer_name",
                            "fieldValue": "={{ $json.customer_name }}"
                        },
                        {
                            "fieldName": "customer_email",
                            "fieldValue": "={{ $json.customer_email }}"
                        },
                        {
                            "fieldName": "customer_phone",
                            "fieldValue": "={{ $json.customer_phone }}"
                        },
                        {
                            "fieldName": "service_id",
                            "fieldValue": "={{ $json.service_id }}"
                        },
                        {
                            "fieldName": "service_name",
                            "fieldValue": "={{ $json.service_name }}"
                        },
                        {
                            "fieldName": "start_time",
                            "fieldValue": "={{ $json.start_time }}"
                        },
                        {
                            "fieldName": "end_time",
                            "fieldValue": "={{ $json.end_time }}"
                        },
                        {
                            "fieldName": "status",
                            "fieldValue": "={{ $json.status }}"
                        },
                        {
                            "fieldName": "amount_paid",
                            "fieldValue": "={{ $json.amount_paid }}"
                        },
                        {
                            "fieldName": "stripe_session_id",
                            "fieldValue": "={{ $json.stripe_session_id }}"
                        },
                        {
                            "fieldName": "payment_intent_id",
                            "fieldValue": "={{ $json.payment_intent_id }}"
                        },
                        {
                            "fieldName": "amount_cents",
                            "fieldValue": "={{ $json.amount_cents }}"
                        },
                        {
                            "fieldName": "currency",
                            "fieldValue": "={{ $json.currency }}"
                        },
                        {
                            "fieldName": "client_reference",
                            "fieldValue": "={{ $json.client_reference }}"
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                144,
                128
            ],
            "id": "b53f7f91-cb39-44b5-a63c-439d2d77baaa",
            "name": "Save to Supabase",
            "credentials": {
                "supabaseApi": {
                    "id": "dlNOvdwAbyq59XOl",
                    "name": "Supabase account"
                }
            },
            "onError": "stopWorkflow"
        },
        {
            "parameters": {
                "sendTo": "={{ $('Extract Booking Data').first().json.customer_email }}",
                "subject": "={{ $('Extract Booking Data').first().json.email_subject }}",
                "emailType": "text",
                "message": "={{ $('Extract Booking Data').first().json.email_body }}",
                "options": {}
            },
            "name": "Send Confirmation Email",
            "type": "n8n-nodes-base.gmail",
            "typeVersion": 2.1,
            "position": [
                368,
                128
            ],
            "id": "f5775b03-75b3-49ae-9d0b-01ec920f139f",
            "webhookId": "5db0aaec-24c1-405f-b15d-d9a2b0c3f67a",
            "credentials": {
                "gmailOAuth2": {
                    "id": "bsHsQyITlAn3DBQk",
                    "name": "Gmail account"
                }
            },
            "onError": "stopWorkflow"
        },
        {
            "parameters": {
                "calendar": {
                    "__rl": true,
                    "mode": "list",
                    "value": "primary"
                },
                "start": "={{ $('Extract Booking Data').first().json.calendar_start }}",
                "end": "={{ $('Extract Booking Data').first().json.calendar_end }}",
                "additionalFields": {
                    "description": "={{ $('Extract Booking Data').first().json.calendar_description }}",
                    "summary": "={{ $('Extract Booking Data').first().json.calendar_summary }}"
                }
            },
            "id": "e3d5b616-31cb-4d26-9d2a-a7ec03d639d0",
            "name": "Add to Calendar",
            "type": "n8n-nodes-base.googleCalendar",
            "typeVersion": 1,
            "position": [
                592,
                128
            ],
            "credentials": {
                "googleCalendarOAuth2Api": {
                    "id": "MC4P3mZxV4TOWrs8",
                    "name": "Google Calendar account 2"
                }
            },
            "onError": "stopWorkflow"
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "manual-calendar-sync",
                "options": {}
            },
            "id": "d8fa502f-a597-4d10-9d19-960891af75fc",
            "name": "Manual Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                -304,
                352
            ],
            "webhookId": "60860d87-19b1-4f7e-8637-ccd82a74e333"
        },
        {
            "parameters": {
                "jsCode": "const body = $input.first().json.body || $input.first().json;\n\nif (!body.booking_date || !body.booking_time) {\n  throw new Error('Missing Date or Time');\n}\n\nconst startDate = new Date(body.booking_date + 'T' + body.booking_time + ':00');\nconst endDate = new Date(startDate.getTime() + 3600000);\nconst bookingRef = body.booking_id ? '#' + body.booking_id : 'BK-' + Date.now().toString(36).toUpperCase();\n\nconst result = {\n  event_start: startDate.toISOString(),\n  event_end: endDate.toISOString(),\n  summary: 'Vizite ' + bookingRef,\n  description: 'View details in dashboard'\n};\n\nreturn [{ json: result }];"
            },
            "id": "aa8229a0-4b16-4db3-8c02-1532fa373d14",
            "name": "Format Manual Data",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -80,
                352
            ]
        },
        {
            "parameters": {
                "calendar": {
                    "__rl": true,
                    "mode": "list",
                    "value": "primary"
                },
                "start": "={{ $json.event_start }}",
                "end": "={{ $json.event_end }}",
                "additionalFields": {
                    "description": "={{ $json.description }}",
                    "summary": "={{ $json.summary }}"
                }
            },
            "id": "36f90f08-fb58-456a-ae0b-2d3641fe2661",
            "name": "Manual Calendar",
            "type": "n8n-nodes-base.googleCalendar",
            "typeVersion": 1,
            "position": [
                144,
                352
            ],
            "credentials": {
                "googleCalendarOAuth2Api": {
                    "id": "MC4P3mZxV4TOWrs8",
                    "name": "Google Calendar account 2"
                }
            }
        }
    ],
    "connections": {
        "Error Trigger": {
            "main": [
                [
                    {
                        "node": "Save to DLQ",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Save to DLQ": {
            "main": [
                [
                    {
                        "node": "Send a text message",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Extract Booking Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract Booking Data": {
            "main": [
                [
                    {
                        "node": "Save to Supabase",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Save to Supabase": {
            "main": [
                [
                    {
                        "node": "Send Confirmation Email",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send Confirmation Email": {
            "main": [
                [
                    {
                        "node": "Add to Calendar",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Manual Webhook": {
            "main": [
                [
                    {
                        "node": "Format Manual Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Manual Data": {
            "main": [
                [
                    {
                        "node": "Manual Calendar",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "edb1e678c20bb2dc211861028fa5a0da62086103c19f921423bcdc604ef1f332"
    }
}