workflows/n8n-2-stripe-confirmation-supabase.json
{
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "stripe-confirmation-webhook",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                -256,
                -48
            ],
            "id": "3236ed89-d5f5-40f3-9df3-3694384ae40b",
            "name": "Webhook",
            "webhookId": "45c1830b-9364-4b68-9c7d-e8ea2dade456"
        },
        {
            "parameters": {
                "jsCode": "const item = $input.first();\nconst rawJson = item.json;\nconst eventData = rawJson.body || rawJson;\n\nif (eventData.type !== 'checkout.session.completed') {\n  return [];\n}\n\nconst dataObject = eventData?.data?.object || {};\nconst metadata = dataObject.metadata || {};\nconst customerDetails = dataObject.customer_details || {};\n\nconst customerName = customerDetails.name || metadata.customer_name || 'Valued Patient';\nlet customerEmail = customerDetails.email || metadata.customer_email || 'missing@error.com';\nconst rawPhone = customerDetails.phone || metadata.customer_phone || metadata.phone || '';\nconst amountPaid = ((dataObject.amount_total || 0) / 100).toFixed(2);\nconst bookingDate = metadata.booking_date;\nconst bookingTime = metadata.booking_time;\n\nlet eventStart = null;\nlet eventEnd = null;\nif (bookingDate && bookingTime) {\n  const startDate = new Date(bookingDate + 'T' + bookingTime + ':00');\n  eventStart = startDate.toISOString();\n  eventEnd = new Date(startDate.getTime() + 3600000).toISOString();\n}\n\nlet lang = 'lv';\nif (metadata.language) {\n  lang = metadata.language.toLowerCase();\n}\n\nlet emailSubject, emailBody;\nif (lang === 'lv') {\n  emailSubject = '✅ Vizīte apstiprināta - Butkeviča Dental';\n  emailBody = 'Labdien, ' + customerName + '!\\\\n\\\\n' +\n    'Paldies par Jūsu maksājumu €' + amountPaid + ' apmērā!\\\\n\\\\n' +\n    'Jūsu zobārstniecības vizīte ir apstiprināta:\\\\n' +\n    '📅 Datums: ' + bookingDate + '\\\\n' +\n    '⏰ Laiks: ' + bookingTime + '\\\\n\\\\n' +\n    'Gaidīsim Jūs!\\\\n\\\\n' +\n    'Ar cieņu,\\\\n' +\n    'Butkeviča Dental Practice';\n} else {\n  emailSubject = '✅ Appointment Confirmed - Butkeviča Dental';\n  emailBody = 'Hi ' + customerName + ',\\\\n\\\\n' +\n    'Thank you for your payment of €' + amountPaid + '!\\\\n\\\\n' +\n    'Your dental appointment is confirmed:\\\\n' +\n    '📅 Date: ' + bookingDate + '\\\\n' +\n    '⏰ Time: ' + bookingTime + '\\\\n\\\\n' +\n    'We look forward to seeing you!\\\\n\\\\n' +\n    'Best regards,\\\\n' +\n    'Butkeviča Dental Practice';\n}\n\nconst bookingRef = 'BK-' + Date.now().toString(36).toUpperCase();\n\nconst result = {\n  // Fields for Supabase insert (must match table columns exactly)\n  customer_name: customerName,\n  customer_email: customerEmail,\n  customer_phone: rawPhone || null,\n  service_id: metadata.service_id || null,\n  service_name: metadata.serviceName || 'Dental Appointment',\n  start_time: eventStart,\n  end_time: eventEnd,\n  amount_paid: parseFloat(amountPaid),\n  status: 'confirmed',\n  stripe_session_id: dataObject.id || null,\n  payment_intent_id: dataObject.payment_intent || null,\n  amount_cents: dataObject.amount_total || null,\n  currency: 'EUR',\n  client_reference: bookingRef,\n  // Extra fields for email/calendar (not inserted to DB)\n  email_subject: emailSubject,\n  email_body: emailBody,\n  calendar_summary: 'Vizīte ' + bookingRef,\n  calendar_description: '📋 View full details in secure dashboard\\\\n\\\\n🔒 Patient information protected under GDPR Art. 9\\\\n\\\\n⏰ Duration: 1 hour',\n  calendar_start: eventStart,\n  calendar_end: eventEnd,\n  booking_ref: bookingRef\n};\n\nreturn [{ json: result }];"
            },
            "name": "Extract Booking Data",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                0,
                -48
            ],
            "id": "dc471cbb-1e1a-4fb2-97af-9d76d46b6d13"
        },
        {
            "parameters": {
                "operation": "create",
                "tableId": "bookings",
                "fieldsUi": {
                    "fieldValues": [
                        {
                            "fieldName": "customer_name",
                            "fieldValue": "={{ $json.customer_name }}"
                        },
                        {
                            "fieldName": "customer_email",
                            "fieldValue": "={{ $json.customer_email }}"
                        },
                        {
                            "fieldName": "customer_phone",
                            "fieldValue": "={{ $json.customer_phone }}"
                        },
                        {
                            "fieldName": "service_id",
                            "fieldValue": "={{ $json.service_id }}"
                        },
                        {
                            "fieldName": "service_name",
                            "fieldValue": "={{ $json.service_name }}"
                        },
                        {
                            "fieldName": "start_time",
                            "fieldValue": "={{ $json.start_time }}"
                        },
                        {
                            "fieldName": "end_time",
                            "fieldValue": "={{ $json.end_time }}"
                        },
                        {
                            "fieldName": "status",
                            "fieldValue": "={{ $json.status }}"
                        },
                        {
                            "fieldName": "amount_paid",
                            "fieldValue": "={{ $json.amount_paid }}"
                        },
                        {
                            "fieldName": "stripe_session_id",
                            "fieldValue": "={{ $json.stripe_session_id }}"
                        },
                        {
                            "fieldName": "payment_intent_id",
                            "fieldValue": "={{ $json.payment_intent_id }}"
                        },
                        {
                            "fieldName": "amount_cents",
                            "fieldValue": "={{ $json.amount_cents }}"
                        },
                        {
                            "fieldName": "currency",
                            "fieldValue": "={{ $json.currency }}"
                        },
                        {
                            "fieldName": "client_reference",
                            "fieldValue": "={{ $json.client_reference }}"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                250,
                -48
            ],
            "id": "supabase-native-insert",
            "name": "Save to Supabase",
            "credentials": {
                "supabaseApi": {
                    "id": "YOUR_SUPABASE_CREDENTIAL_ID",
                    "name": "Supabase account"
                }
            },
            "onError": "stopWorkflow"
        },
        {
            "parameters": {
                "sendTo": "={{ $('Extract Booking Data').first().json.customer_email }}",
                "subject": "={{ $('Extract Booking Data').first().json.email_subject }}",
                "emailType": "text",
                "message": "={{ $('Extract Booking Data').first().json.email_body }}",
                "options": {}
            },
            "name": "Send Confirmation Email",
            "type": "n8n-nodes-base.gmail",
            "typeVersion": 2.1,
            "position": [
                500,
                -48
            ],
            "id": "ff881ec9-33dc-42b4-b4eb-1144aa237f61",
            "credentials": {
                "gmailOAuth2": {
                    "id": "bsHsQyITlAn3DBQk",
                    "name": "Gmail account"
                }
            },
            "onError": "stopWorkflow"
        },
        {
            "parameters": {
                "calendar": {
                    "__rl": true,
                    "mode": "list",
                    "value": "primary"
                },
                "start": "={{ $('Extract Booking Data').first().json.calendar_start }}",
                "end": "={{ $('Extract Booking Data').first().json.calendar_end }}",
                "additionalFields": {
                    "summary": "={{ $('Extract Booking Data').first().json.calendar_summary }}",
                    "description": "={{ $('Extract Booking Data').first().json.calendar_description }}"
                }
            },
            "id": "calendar-stripe-flow",
            "name": "Add to Calendar",
            "type": "n8n-nodes-base.googleCalendar",
            "typeVersion": 1,
            "position": [
                750,
                -48
            ],
            "credentials": {
                "googleCalendarOAuth2Api": {
                    "id": "MC4P3mZxV4TOWrs8",
                    "name": "Google Calendar account 2"
                }
            },
            "onError": "stopWorkflow"
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "manual-calendar-sync",
                "options": {}
            },
            "id": "63c5bb28-1b05-4583-b1e3-2ae5ffe5aff5",
            "name": "Manual Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                -176,
                200
            ],
            "webhookId": "60860d87-19b1-4f7e-8637-ccd82a74e333"
        },
        {
            "parameters": {
                "jsCode": "const body = $input.first().json.body || $input.first().json;\n\nif (!body.booking_date || !body.booking_time) {\n  throw new Error('Missing Date or Time');\n}\n\nconst startDate = new Date(body.booking_date + 'T' + body.booking_time + ':00');\nconst endDate = new Date(startDate.getTime() + 3600000);\nconst bookingRef = body.booking_id ? '#' + body.booking_id : 'BK-' + Date.now().toString(36).toUpperCase();\n\nconst result = {\n  event_start: startDate.toISOString(),\n  event_end: endDate.toISOString(),\n  summary: 'Vizite ' + bookingRef,\n  description: 'View details in dashboard'\n};\n\nreturn [{ json: result }];"
            },
            "id": "5f5b276e-80e9-46a6-9489-d6c278e06be0",
            "name": "Format Manual Data",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                100,
                200
            ]
        },
        {
            "parameters": {
                "calendar": {
                    "__rl": true,
                    "mode": "list",
                    "value": "primary"
                },
                "start": "={{ $json.event_start }}",
                "end": "={{ $json.event_end }}",
                "additionalFields": {
                    "summary": "={{ $json.summary }}",
                    "description": "={{ $json.description }}"
                }
            },
            "id": "6ade1abc-a235-473c-a05c-9fc26b9e996c",
            "name": "Manual Calendar",
            "type": "n8n-nodes-base.googleCalendar",
            "typeVersion": 1,
            "position": [
                350,
                200
            ],
            "credentials": {
                "googleCalendarOAuth2Api": {
                    "id": "MC4P3mZxV4TOWrs8",
                    "name": "Google Calendar account 2"
                }
            }
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Extract Booking Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract Booking Data": {
            "main": [
                [
                    {
                        "node": "Save to Supabase",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Save to Supabase": {
            "main": [
                [
                    {
                        "node": "Send Confirmation Email",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send Confirmation Email": {
            "main": [
                [
                    {
                        "node": "Add to Calendar",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Manual Webhook": {
            "main": [
                [
                    {
                        "node": "Format Manual Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Manual Data": {
            "main": [
                [
                    {
                        "node": "Manual Calendar",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "edb1e678c20bb2dc211861028fa5a0da62086103c19f921423bcdc604ef1f332"
    }
}